body {
    font-family: 'Source Sans 3', sans-serif;
    --font-family: 'Source Sans 3', sans-serif;
}

@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
    @tailwind base;
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}

td a {
    text-decoration: underline;
}
